.card-body{
    background-color: #969090!important;
}
.card-body a{
    font-size: 24px;
}
.card-header{
    height: 150px!important;
}

.card-header img{
    height: 100%!important;
    width: 100%!important;
    object-fit: contain!important;
}