
.comments{
    background-color: #615c5c;   
}
.comment{
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 10px 0;
}
.comment .comment-header{
    display: flex;
    justify-content: space-between;
}
.comment a,p{
    color: #000000;
}

