.registration{
    min-height: 100vh;
    padding-top: 100px;
    background-color: #BC8FF6;
}

.registration input{
    margin: 10px 0;
    border-radius: 30px;
}

.registration .submit-button{
    width: 200px;
    height: 30px;
    background-color: white;
    border: 0;
    height: 38px;
    border-radius: 35px;
}

.registration .altered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* a,p,h2{
    color:#FFFFFF!important;
    font-size: 18px;
}

a:hover{
    text-decoration: none!important;
    color: #5d4db9!important;
} */
