<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <h1>Add game page
    </h1>
    <a href="{{ url_for('games') }}">Back to games</a>

    <form action="{{ url_for('addgame') }}" method="post" autocomplete="off"> 
        <div class="form-group">
         <label for="title" class="cols-sm-2 control-label">Game Title</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <input type="text" class="form-control" name="title" id="title"  placeholder="Enter game title"/>
          </div>
         </div>
        </div>
    
        <div class="form-group">
         <label for="description" class="cols-sm-2 control-label">Description</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
           <input type="text" class="form-control" name="description" id="description" placeholder="Enter game description" required>
          </div>
         </div>
        </div>
        <div class="form-group">
            <label for="genre" class="cols-sm-2 control-label">Genre</label>
            <div class="cols-sm-10">
             <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="genre" id="genre" placeholder="Enter game genre" required>
             </div>
            </div>
        </div>
        <div class="form-group">
            <label for="release_date" class="cols-sm-2 control-label">Release date</label>
            <div class="cols-sm-10">
             <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="date" class="form-control" name="release_date" id="release_date" placeholder="Enter release date." required>
             </div>
            </div>
        </div>
        <input type="submit" value="Add game" class="form-control btn btn-primary " name="">
    </form>
</body>
</html>