<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <h1>Add guide page
    </h1>
    <form action="{{ url_for('addGuide',title = title) }}" method="post" autocomplete="off"> 
        <div class="form-group">
         <label for="title" class="cols-sm-2 control-label">Guide Title</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <input type="text" class="form-control" name="title" id="title"  placeholder="Enter guide title"/>
          </div>
         </div>
        </div>
    
        <div class="form-group">
         <label for="guide_text" class="cols-sm-2 control-label">Guide text here</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
           <input type="text" class="form-control" name="guide_text" id="guide_text" placeholder="Enter guide text" required>
          </div>
         </div>
        </div>
        <div class="form-group">
            <label for="genre" class="cols-sm-2 control-label">Youtube link</label>
            <div class="cols-sm-10">
             <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="youtube_link" id="youtube_link" placeholder="Enter youtube link">
             </div>
            </div>
        </div>

        <input type="submit" value="Post guide" class="form-control btn btn-primary " name="">
    </form>

</body>
</html>