{% extends 'index.html' %}

{% block title %}{{game.title}}{% endblock %}




{% block content %}
<div class="title-guides-wrapper">
    <h2>{{game.title}}</h2>
    <a href="/games/{{game.title}}/guides">Game guides</a>
</div>
<div>
    <p>Relase date : {{game.release_date}}</p>
    <p>Genre: {{game.genre}}</p>
    <p>About the game: {{game.description}}</p>

</div>


<form action="{{ url_for('addcomment', title = game.title) }}" method="post" autocomplete="off"> 
    <div class="form-group">
     <label for="comment" class="cols-sm-2 control-label">Add your comment here</label>
     <div class="cols-sm-10">
      <div class="input-group">
       <input type="text" class="form-control" name="comment" id="comment"  placeholder="Add your comment here"/>
      </div>
     </div>
    </div>
    <input type="submit" value="Comment" class="form-control btn btn-primary " name="">
</form>


    {% for comment in comments %}
        {% for user in users %}
            {% if user.id == comment.user_id %}
                <div class="comment">
                    <a href="/profile/{{user.username}}">{{user.username}}</a>
                    <p>{{comment.comment}}</p>
                </div>
            {% endif %}

        {% endfor %}


    {% endfor %}


    <a class="py-2 d-none d-md-inline-block" href="{{ url_for('setRank', title=game.title) }}">Add ranks to game</a>




{% endblock %}