{% extends 'index.html' %}
  
{% block title %}Games{% endblock %}
  
{% block content %}
<h1 class="h2">Welcome to games page</h1>
{% if session['role'] == 2 %}
<h2>ADMIN  GAMES PANEL</h2>

<a class="py-2 d-none d-md-inline-block" href="{{ url_for('addgame') }}">Add Game</a>
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('removegame') }}">Remove game</a>
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('addRanks') }}">Add ranks to game</a>



{% endif %}

<div class="games-list">
    {% for game in games %}

    <a href="games/{{game.title}}">
      <div class="card" style="width: 18rem;">
          <div class="card-header"><img class="card-img-top" src="../static/images/{{game.title}}.png" alt="Card image cap"></div>
          <div class="card-body">
            <h3 class="card-title">{{game.title}}</a>
            <p class="card-text">{{game.desc}}</p>
          </div>
        </div>
    </a>

    {% endfor %}

</div>


{% endblock %}