{% extends 'index.html' %}

{% block title %}{{game.title}}{% endblock %}




{% block content %}
<h1>{{game.title}}</h1>
<div>
    <p>Relase date : {{game.release_date}}</p>
    <p>Genre: {{game.genre}}</p>
    <p>About the game: {{game.description}}</p>

</div>

{% if session['role'] == 2 %}
    
    <form action="{{ url_for('addgame') }}" method="post" autocomplete="off"> 
        <div class="form-group">
         <label for="title" class="cols-sm-2 control-label">Game Title</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <input type="text" class="form-control" name="title" id="title"  placeholder="Enter game title"/>
          </div>
         </div>
        </div>
    
        <div class="form-group">
         <label for="description" class="cols-sm-2 control-label">Description</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
           <input type="text" class="form-control" name="description" id="description" placeholder="Enter game description" required>
          </div>
         </div>
        </div>
        <div class="form-group">
            <label for="genre" class="cols-sm-2 control-label">Genre</label>
            <div class="cols-sm-10">
             <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="genre" id="genre" placeholder="Enter game genre" required>
             </div>
            </div>
        </div>
        <div class="form-group">
            <label for="release_date" class="cols-sm-2 control-label">Release date</label>
            <div class="cols-sm-10">
             <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="date" class="form-control" name="release_date" id="release_date" placeholder="Enter release date." required>
             </div>
            </div>
        </div>
        <input type="submit" value="Add game" class="form-control btn btn-primary " name="">

{% else %}
<h2>User section</h2>
<form action="{{ url_for('addcomment', title = game.title) }}" method="post" autocomplete="off"> 
    <div class="form-group">
     <label for="comment" class="cols-sm-2 control-label">Add your comment here</label>
     <div class="cols-sm-10">
      <div class="input-group">
       <input type="text" class="form-control" name="comment" id="comment"  placeholder="Add your comment here"/>
      </div>
     </div>
    </div>
    <input type="submit" value="Comment" class="form-control btn btn-primary " name="">
</form>


<h2> Comments go here</h2>
{% for comment in comments %}
{% for user in users %}
{% if user.id == comment.user_id %}
    <a href="/profile/{{user.username}}">{{user.username}}</a>
    <p>{{comment.comment}}</p>
{% endif %}

{% endfor %}



{% endfor %}





{% endif %}

{% endblock %}