{% extends 'index.html' %}

<!-- {% block title %} -->

<!-- {% endblock %} -->




{% block content %}
<div>
    {% if guide.user_id == session['id'] or session['role'] == 2 %}
        <a class="py-2 d-none d-md-inline-block" href="{{ url_for('deleteGuide',title = game.title ,guide_id = guide.id) }}">Delete guide</a>
    {% endif %}
    <h2> {{guide.title}}</h2>
    <p>{{guide.guide_text}}</p>
    {% if guide.youtube_link %}
    <iframe width="560" height="315" src="{{guide.youtube_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}
</div>


    <h2>{{guide.youtube_link}}</h2>







{% endblock %}