{% extends 'index.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
    <div class="row" style="padding-top:100px">


        {% if session['role'] == 2 %}
        <h1 class="h2">Dashboard</h1>

                <h2>ADMIN</h2>
            
            {% for account in accounts %}
            <a href="profile/{{account.username}}">{{account.username}}</a>
            {% endfor %}


        {% endif %}
            <div class="col-12 col-lg-7 offset-lg-3">
                <h2>Welcome to gamers for gamers website</h2>
            </div>
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="home-msg">
                    <p>Here you can select what games you play by assigning your rank. You can also comment the games you like and write guides for them. Also if you enjoyed playing with someone you can leave a review on their profile.
                        If you want to find friends to play with, make sure you open the game's playerbase. We wish you happy stay here :).
                    </p>
                </div>
            </div>
        </div>
</div>


{% endblock %}
