<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 </head>
 <body>
    <section class="login-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3 align-items-center">
                    <h2 class="login-title">
                        Welcome to Login page.
                    </h2>
                    <p>Please enter your credentials</p>
                </div>
                <div class="col-12 col-lg-6 offset-lg-3">
                    <form class="form-group" action="{{ url_for('login') }}" method="post">
                        <input type="text" class="form-control" name="username" placeholder="Username" id="username" required>
                        <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
                        <input type="submit" value="Login" class="form-control btn btn-success " name="">
                    </form>

                    
                    {% with messages = get_flashed_messages(with_categories=true)  %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                </div>
                                {% else %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>You don't have an account?<a href="{{ url_for('register') }}"> Sign up here</a></p>
                </div>
            </div>
        </div>
    </section>
 </body>
</html>