{% extends 'index.html' %}

{% block title %}Profile{% endblock %}
  
{% block content %}

    <div class="row">
        <div class="col-10 offset-lg-1">
            {% if session['role'] == 2 %}
            <h2>ADMIN</h2>
            {% for account in accounts %}
            <a href="profile/{{account.username}}">{{account.username}}</a>
            {% endfor %}
            {% else %}
            <h2>Welcome to {{account.username}}'s profile</h2>
            <div class="user-plays">
                {% if user_plays %}
                <h2>User plays</h2>
                {% else %}
                <p>This user does not play any games.</p>
                {% endif %}
                {% for up in user_plays %}
                    {% for game in games %}
                        {% if game.id == up.game_id %}
                        <a href="/games/{{game.title}}">{{game.title}}</a>
                        <p>Rank : {{up.rank}}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <form action="{{ url_for('profileComment',  username= account.username) }}" method="post" autocomplete="off"> 
                <div class="form-group">
                <label for="comment" class="cols-sm-2 control-label">Add your comment here</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="comment" id="comment"  placeholder="Add your comment here"/>
                    </div>
                </div>
                </div>
                <input type="submit" value="Comment" class="form-control btn btn-primary " name="">
            </form>
        
        </div>
        <div class="col-lg-10 offset-lg-1">
            {% for comment in comments %}
            {% for user in users %}
            {% if user.id == comment.commentator_id %}
                <div class="comment">
                    <a href="/profile/{{user.username}}">{{user.username}}</a>
                    <p>{{comment.comment}}</p>
                </div>
            {% endif %}
            
            {% endfor %}
        
        {% endfor %}
        </div>
    </div>


    {% endif %}

{% endblock %}