<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input-site">
                    <form action="{{ url_for('setRank',title=game.title) }}" method="post" autocomplete="off">
                        <div class="form-group">
                         <label for="rank" class="cols-sm-2 control-label">Select your rank</label>
                            <select name="rank">
                                {% for rank in ranks %}
                                    <option value="{{rank.rank_name}}">{{rank.rank_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="Set rank" class="form-control btn btn-primary " name="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>